{% import 'IluniBookBundle:Common:macro/menu.html.twig' as menu %}

<script type="text/javascript">
    window.addEvent('domready', function() {
        hover_sidemenu();
    });
</script>

<div class="moduletable_menu">
    <h3>{{ 'Community Summary'|trans({},'navigation') }}</h3>

    {{ menu.item('Community', 'community', route) }}
    {{ menu.item('Total Chart', 'summary_total', route) }}
    {{ menu.item('All Departments', 'main_department_all', route) }}

</div>

{% if is_granted('ROLE_EDITOR') %}
<div class="moduletable_menu">
    <h3>{{ 'Manage Data'|trans({},'navigation') }}</h3>

    {{ menu.item('Add Alumna/us', 'alumni_new', route) }}
    {{ menu.item('Add Organization', 'org_new', route) }}
    {{ menu.item('Manage Alumni', 'alumni', route) }}
    {{ menu.item('Manage Organization', 'org', route) }}

</div>
{% endif %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="moduletable_menu">
    <h3>{{ 'Browse Alumni'|trans({},'navigation') }}</h3>

    {{ menu.item('Alumni',              'acommunities', route) }}
    {{ menu.item('Birthday',            'alumni_birthday', route) }}
    {{ menu.item('Competencies',        'acompetencies_categories', route) }}
    {{ menu.item('Certifications',      'acertifications', route) }}
    {{ menu.item('Academic Degrees',    'adegrees', route) }}
    {{ menu.item('Experiences',         'aexperiences', route) }}

</div>

<div class="moduletable_menu">
    <h3>{{ 'Browse Organization'|trans({},'navigation') }}</h3>

    {{ menu.item('Organization/ Companies', 'org', route) }}
    {{ menu.item('Business Fields',         'ofields_categories', route) }}

</div>

<div class="moduletable_menu">
    <h3>{{ 'Browse Mapping'|trans({},'navigation') }}</h3>

    {{ menu.item('Occupation',          'amap_categories', route) }}
    {{ menu.item('Job Position',        'omap_categories', route) }}

</div>
{% endif %}
