{% extends 'IluniBookBundle:Common:layout/standard.html.twig' %}
{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}
{% set is_new   = entity.id ? false : true %}
{% set title    = (is_new ? 'Add' : 'Update')|trans({},'actions') %}
{% set button   = (is_new ? 'Create' : 'Save')|trans({},'actions') %}

{% set path = is_new ?
    path('adegrees_create', { 'aid': app.request.attributes.get('aid') }) :
    path('adegrees_update',{ 'id': entity.id })
%}

{% block title %}Academic Degree :: {{ title }}{% endblock %}
{% block subtitle %}{{ entity.alumni }}{% endblock %}

{% block body %}
    {% set form_id = edit_form.vars.name %}

    <script type="text/javascript">
        window.addEvent("domready",function(){
            document.id('{{ form_id }}_institution').addClass('required');
            document.id('{{ form_id }}_admitted').addClass('validate-integer');
            document.id('{{ form_id }}_graduated').addClass('validate-integer');
            new FormValidator.Inline('form_validate');
        });
    </script>

    <form action="{{ path }}" method="post" id="form_validate" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        &nbsp;
        {{ crud.link_to_backtolist('adegrees_list', { 'aid': entity.alumni.id }) }}
        <button type="submit">{{ button }}</button>
    </form>

    {% if not is_new %}
        {{ crud.form_delete(delete_form, 'adegrees_delete', { 'id': entity.id }) }}
    {% endif %}
{% endblock %}
