{% extends 'IluniBookBundle:List:table/featured.html.twig' %}
{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}

{% block table_header %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <th>{% trans from 'forms' %}Action{% endtrans %}</th>
        {% endif %}

        <th>{% trans from 'forms' %}Alumni{% endtrans %}</th>
        <th>{% trans from 'forms' %}Community{% endtrans %}</th>

        <th>{% trans from 'forms' %}Strata{% endtrans %}</th>
        <th>{% trans from 'forms' %}Admitted{% endtrans %}</th>
        <th>{% trans from 'forms' %}Graduated{% endtrans %}</th>

        <th>{% trans from 'forms' %}Degree{% endtrans %}</th>
        <th>{% trans from 'forms' %}Institution{% endtrans %}</th>
        <th>{% trans from 'forms' %}Major{% endtrans %}</th>
        <th>{% trans from 'forms' %}Minor{% endtrans %}</th>
        <th>{% trans from 'forms' %}Concentration{% endtrans %}</th>
{% endblock %}

{% block table_row %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <td width="8%">
            {{ crud.link_to_action_list(
                'adegrees_list', { 'aid': entity.alumni.id }) }}
            {{ crud.link_to_action_edit(
                'adegrees_edit', { 'id': entity.id }) }}
        </td>
        {% endif %}

        <td><a href="{{ path('about_alumni', { 'aid': entity.alumni.id }) }}"
          >{{ entity.alumni }}</a></td>
        <td>{{ entity.alumni.community }}</td>

        <td>{{ entity.strata }}</td>
        <td>{{ entity.admitted }}</td>
        <td>{{ entity.graduated }}</td>

        <td>{{ entity.degree }}</td>
        <td>{{ entity.institution }}</td>
        <td>{{ entity.major }}</td>
        <td>{{ entity.minor }}</td>
        <td>{{ entity.concentration }}</td>
{% endblock %}
