{% extends 'IluniBookBundle:Common:layout/crud.html.twig' %}
{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}
{% use 'DiaBoxBundle::assets.html.twig' %}

{% set is_new   = entity.id ? false : true %}
{% set title    = (is_new ? 'Add' : 'Update')|trans({},'actions') %}
{% set button   = (is_new ? 'Create' : 'Save')|trans({},'actions') %}

{% set path = is_new ?
    path('omap_create', { 'oid': app.request.attributes.get('oid') }) :
    path('omap_update', { 'mid': entity.id })
%}

{% block title %}Map (org) :: {{ title }}{% endblock %}
{% block subtitle %}{{ entity.organization }}{% endblock %}

{% block body %}
    <form action="{{ path }}" method="post" id="form_validate" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        &nbsp;
        {{ crud.link_to_backtolist('omap_list', { 'oid': entity.organization.id }) }}
        <button type="submit">{{ button }}</button>
    </form>

    {% if not is_new %}
        {{ crud.form_delete(delete_form, 'omap_delete', { 'mid': entity.id }) }}
    {% endif %}
{% endblock %}

{% block include_stylesheets %}
    {{ parent() }}
    {{ block('include_stylesheets_diabox') }}
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    {{ block('include_javascripts_diabox') }}
{% endblock %}

{% block inline_javascripts %}
    {{ parent() }}
    {{ block('inline_javascripts_diabox_frame') }}
{% endblock %}
