{% extends 'IluniBookBundle:List:table/featured.html.twig' %}
{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}

{% block table_header %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <th>{% trans from 'forms' %}Action{% endtrans %}</th>
        {% endif %}

        <th>{% trans from 'forms' %}Alumni{% endtrans %}</th>
        <th>{% trans from 'forms' %}Community{% endtrans %}</th>
        <th>{% trans from 'forms' %}Organization{% endtrans %}</th>
        <th>{% trans from 'forms' %}Job Position{% endtrans %}</th>
{% endblock %}

{% block table_row %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <td width="8%" class="action">
            {{ crud.link_to_action_list(
                'omap_list', { 'oid': entity.organization.id }) }}
            {{ crud.link_to_action_edit(
                'omap_edit', { 'mid': entity.id }) }}
        </td>
        {% endif %}

        <td><a href="{{ path('about_alumni_slug', { 'slug': entity.alumni.slug }) }}"
          >{{ entity.alumni|textShort(20) }}</a></td>
        <td>{{ entity.alumni.community|textShort(15) }}</td>
        <td><a href="{{ path('about_org_slug', { 'slug': entity.organization.slug }) }}"
          >{{ entity.organization|textShort(20) }}</a></td>
        <td>{{ entity.jobPosition|textShort(20) }}</td>
{% endblock %}
