{% extends 'IluniBookBundle:List:table/simple.html.twig' %}

{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}
{% import 'IluniBookBundle:Common:macro/tab.html.twig' as tab %}

{% block title %}Certifications by Alumna/us{% endblock %}
{% block breadtitle %}Certifications :: list{% endblock %}
{% block subtitle %}{{ alumni }}{% endblock %}

{% block table_header %}
        {{ parent() }}
        <th>{% trans from 'forms' %}Action{% endtrans %}</th>
        <th>{% trans from 'forms' %}Certification{% endtrans %}</th>
        <th>{% trans from 'forms' %}Institution{% endtrans %}</th>
{% endblock %}

{% block table_row %}
        {{ parent() }}

        <td width="8%">
            {{ crud.link_to_actions_in_list(
                'acertifications_show',
                'acertifications_edit',
                { 'id': entity.id }
            ) }}
        </td>

        <td>{{ entity.certification }}</td>
        <td>{{ entity.institution }}</td>
{% endblock %}

{% block table_links %}
    {{ crud.link_to_new_in_list('acertifications_new', 'aid', 'aid') }}
{% endblock %}

{% block body %}
    {{ tab.tab('alumni', {
        'aid' : app.request.attributes.get('aid')
    }) }}

    {{ parent() }}
{% endblock %}


