{% extends 'IluniBookBundle:Common:layout/standard.html.twig' %}
{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}
{% set is_new   = entity.id ? false : true %}
{% set title    = (is_new ? 'Add' : 'Update')|trans({},'actions') %}
{% set button   = (is_new ? 'Create' : 'Save')|trans({},'actions') %}

{% set path = is_new ?
    path('ofields_create', { 'oid': app.request.attributes.get('oid') }) :
    path('ofields_update', { 'id': entity.id })
%}

{% block title %}Business Field :: {{ title }}{% endblock %}
{% block subtitle %}{{ entity.organization }}{% endblock %}

{% block body %}
    <form action="{{ path }}" method="post" id="form_validate" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        &nbsp;
        {{ crud.link_to_backtolist('ofields_list', { 'oid': entity.organization.id }) }}
        <button type="submit">{{ button }}</button>
    </form>

    {% if not is_new %}
        {{ crud.form_delete(delete_form, 'ofields_delete', { 'id': entity.id }) }}
    {% endif %}
{% endblock %}
