{% import 'IluniBookBundle:Common:macro/menu.html.twig' as menu %}
{% set route = app.request.attributes.get('_route') %}

{% block theme_menu %}
<div class="moduletable_menu">
<h3>{{ 'Start Page'|trans({},'navigation') }}</h3>
    {{ menu.item('Home', 'main_homepage', route) }}

    <ul class="menu"><li{% if route=='main_about' %} class="selected"{% endif %}>
        <a href="{{ path('main_about') }}">
            {{ 'About'|trans({},'navigation') }}
        </a>
        {{ menu.item('Screenshot', 'main_screenshot', route) }}
    </li></ul>
</div>

{% if app.user and book_app.allow_menu %}
<script type="text/javascript">
    target = '{{ path ('main_menu') }}?route={{ route }}';
    bindInnerRequest(target, 'part_book_menu');
</script>
<?php endif; ?>

<div id="part_book_menu"></div>

<div class="moduletable_menu">
<h3>{{ 'Users'|trans({},'navigation') }}</h3>
    <ul class="menu"><li>
        <a href="{{ path('sonata_admin_dashboard') }}">
            {{ 'Administrator'|trans({},'navigation') }}
        </a>
    </li></ul>

    <ul class="menu"><li>
        <a href="{{ path('user_logout') }}">
            {{ 'Logout'|trans({},'navigation') }}
        </a>
    </li></ul>
</div>

{% endif %}



{% endblock %}
