{% block top_message %}

    {% if app.user %}
        You are browsing the Alumni Book demo website.<br />
        Feel free to play with it as the database is reset every day, daily, every 24 hours.
    {% else %}
        You can login with one of these username/password pairs:<br />
        editor/editor (frontend), guest/guest (frontend) or admin/admin (backend).
    {% endif %}
{% endblock %}

{% block top_logon %}
        {% set username = app.user ? app.user.username : 'Anonymous' %}

        [<strong title="{% trans %}logged in as {% endtrans
            %} {{ username }}">{{ username }}</strong>]
        {% if app.user %}
        - <a href="{{ path('user_logout')
            }}">{% trans from 'navigation'%}Logout{% endtrans %}</a>
        {% else %}
        - <a href="{{ path('user_login')
            }}">{% trans from 'navigation'%}Login{% endtrans %}</a>
        {% endif %}
        <br/>
{% endblock %}

{% block top_language %}

        <a href="{{ path('main_language', { 'locale' : 'en' }) }}">
            <img alt="United Kingdom" title="English (British)" border="0" class="flag"
            src="{{ asset('bundles/ilunibook/images/flags/gb.png') }}" /></a>
        <a href="{{ path('main_language', { 'locale' : 'id' }) }}">
            <img alt="Indonesia" title="Bahasa Indonesia (Indonesia)" border="0" class="flag"
            src="{{ asset('bundles/ilunibook/images/flags/id.png') }}" /></a>
        <a href="{{ path('main_language', { 'locale' : 'tr' }) }}">
            <img alt="Türkiye" title="Türkçe" border="0" class="flag"
            src="{{ asset('bundles/ilunibook/images/flags/tr.png') }}" /></a>
{% endblock %}

{% block top %}
    <div id="lay_top_message">
    {{ block('top_message') }}
    </div>
    <div id="lay_top_status">
    {{ block('top_logon') }}
    {{ block('top_language') }}
    </div>
    <div class="clr"></div>
{% endblock %}
