{% extends 'IluniBookBundle:List:table/featured.html.twig' %}
{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}

{% block table_loop_attribute %}title="{{
    entity.alumni|salute|trans({},'elements')}} {{
    entity.alumni.name}}"{% endblock %}

{% block table_header %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <th>{% trans from 'forms' %}Action{% endtrans %}</th>
        {% endif %}

        <th>{% trans from 'forms' %}Full Name{% endtrans %}</th>
        <th>{% trans from 'forms' %}Community{% endtrans %}</th>
{% endblock %}

{% block table_row %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <td width="8%" class="action">
            {{ crud.link_to_action_list(
                'acommunities_list', { 'aid': entity.alumni.id }) }}
            {{ crud.link_to_action_edit(
                'acommunities_edit', { 'id': entity.id }) }}
        </td>
        {% endif %}

        <td><a href="{{ path('about_alumni_slug', { 'slug': entity.alumni.slug }) }}"
          >{{ entity.alumni.fullname }}</a></td>
        <td>{{ entity.name }}</td>
{% endblock %}
