{% extends 'IluniBookBundle:List:table/featured.html.twig' %}
{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}

{% block table_header %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <th>{% trans from 'forms' %}Action{% endtrans %}</th>
        {% endif %}

        <th>{% trans from 'forms' %}Organization{% endtrans %}</th>
        <th>{% trans from 'forms' %}Contact Type{% endtrans %}</th>
        <th>{% trans from 'forms' %}Contact{% endtrans %}</th>
{% endblock %}

{% block table_row %}
        {{ parent() }}

        {% if is_granted('ROLE_EDITOR') %}
        <td width="8%" class="action">
            {{ crud.link_to_action_list(
                'ocontacts_list', { 'oid': entity.organization.id }) }}
            {{ crud.link_to_action_edit(
                'ocontacts_edit', { 'id': entity.id }) }}
        </td>
        {% endif %}

        <td><a href="{{ path('about_org', { 'oid': entity.organization.id }) }}"
          >{{ entity.organization }}</a></td>
        <td>{{ entity.contactType }}</td>
        <td>{{ entity.contact }}</td>
{% endblock %}

